* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.5)), url("../arquivos/background-cadastro-creche.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoFormulario {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 30vw;
	height: 70vh;
	border-radius: 12px;
}

.btn-cadastrar {
	width: 90%;
	padding: 14px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 8px;
	border: 0px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	color: antiquewhite;
	background-color: #88c54b;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #a8d67a;
	outline: 0px;
}

::placeholder {
	color: rgba(128, 128, 128, 0.623);
}

.form-group {
	flex-direction: column;
	align-items: center;
}

.form-cnpjInep {
	display: flex;
}

h2 {
	color: #88c54b;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}

.input-icon {
	position: relative;
	margin: 10px 0 20px;
}

.input-icon input {
	width: 55%;
	padding: 10px 20px 10px 40px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: rgba(128, 128, 128, 0.384);
}

.input-icon i {
	position: absolute;
	margin-top: 9px;
	left: 30px;
	color: rgba(128, 128, 128, 0.623);
}