* {
    padding: 0px;
    margin: 0px;
    
}

body {
   
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.todoFormulario {
    background-color: white;
    width: 40vw;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-cadastrar {
    width: 100%; 
    padding: 14px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 0px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: antiquewhite;
    background-color: #88c54b;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #a8d67a;
    outline: 0px;
    display: block;
    text-align: center; 
}

::placeholder {
    color: rgba(128, 128, 128, 0.788);
}

h2 {
    color: #89cc45;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.input-icon {
    position: relative;
    margin: 10px 0 20px;
}

.input-icon input {
    width: 200px; 
    padding: 10px 20px 10px 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.432);
}

.input-icon i {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 30px;
    color: rgba(128, 128, 128, 0.623);
}
