*{
    padding: 0px;
    margin: 0px;
    text-decoration: NONE;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

}


.navbar {
    background-color: #eb8529;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.navbar ul li {
    margin-left: 25px;
    
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color:#eb8529;
}

.new-btn {
    background-color: #95c749;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.new-turma-btn:hover {
    background-color: #218838;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter select, .search-filter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.tb-professora{
    width: 100%;
    border-collapse: collapse;
    
}

.tb-professora th, .tb-professora td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tb-professora th {
    background-color:  #eb8529;
    color: white;
}

.btn-editar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-deletar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tb-form {
    width: 100%;
    border-collapse: collapse;
    
}

.tb-form th, .tb-form td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tb-form th {
    background-color:  #F28E42;
    color: white;
}