body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color:  #F28E42;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.navbar ul li {
    margin-left: 25px;
    
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #F28E42;
}

.new-turma-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.new-turma-btn:hover {
    background-color: #218838;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter select, .search-filter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.turmas-table {
    width: 100%;
    border-collapse: collapse;
    
}

.turmas-table th, .turmas-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.turmas-table th {
    background-color:  #F28E42;
    color: white;
}

.btn-editar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-deletar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.form-sobrep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-sobrep > label {
    color: gray;
    width: 70%;
    text-align: left;
}

.form-sobrep > input {
    background-color: rgba(128, 128, 128, 0.322);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 70%;
    margin-bottom: 10px;
}

.form-sobrep > button {
    background-color: #F28E42;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 76%;
    cursor: pointer;
    
}

.modal-content h2 {
    color: #F28E42;
    text-align: center;
    margin-bottom: 5px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  /* Conteúdo do modal */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  /* Botão de fechar (x) */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  